<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calender</title>
    <!--    Bootstrap-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--    Stylesheet-->

    <!--    test on my side-->
    <!--    <link rel="stylesheet" href="../../static/css/calender.css">-->


    <!-- for web app running-->
    <link rel="stylesheet" href="/css/navbar1.css">
    <link rel="stylesheet" href="/css/calendar.css">
    <link rel="stylesheet" href="/css/modals.css">
    <link rel="stylesheet" href="/css/messenger.css">

</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sunday</h5>
<!--                <h6 class="card-subtitle mb-2 text-body-secondary">Notes</h6>-->
                <!--        <form id="notes-form-sunday">-->
                <!--        <form action="/calender/{id}/save-notes" method="post">-->
<!--                <form th:action="@{/calender/note}" method="post" th:object="${calender}">-->

<!--&lt;!&ndash;                    <input type="text" class="form-control" name="calender" id="calender" th:field="*{notes}">&ndash;&gt;-->
<!--                    &lt;!&ndash;            <button type="submit" class="btn btn-secondary save-button" id="save-button-sunday">Save</button>&ndash;&gt;-->
<!--                    <button type="submit" class="btn btn-secondary save-button">Save</button>-->
<!--                    &lt;!&ndash;            <script>&ndash;&gt;-->
<!--                    &lt;!&ndash;                const form = document.querySelector('form');&ndash;&gt;-->
<!--                    &lt;!&ndash;                const notesInput = document.getElementById('notes');&ndash;&gt;-->

<!--                    &lt;!&ndash;                form.addEventListener('submit', function (event) {&ndash;&gt;-->
<!--                    &lt;!&ndash;                    event.preventDefault();&ndash;&gt;-->
<!--                    &lt;!&ndash;                    notesInput.value = '';&ndash;&gt;-->

<!--                    &lt;!&ndash;                });&ndash;&gt;-->
<!--                    &lt;!&ndash;            </script>&ndash;&gt;-->
<!--                </form>-->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="completion-checkbox-sunday">
                    <label class="form-check-label" for="completion-checkbox-sunday"> Completed Workout</label>
                </div>
                <!--        <div id="notes-saved"></div>-->

            </div>
        </div>
        <!--</div>-->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Monday</h5>
<!--                <h6 class="card-subtitle mb-2 text-body-secondary">Notes</h6>-->
<!--                <input type="text" class="form-control" id="notes-input-monday">-->
<!--                <button type="button" class="btn btn-secondary save-button" id="save-button-monday">Save</button>-->
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="completion-checkbox-monday">
                    <label class="form-check-label" for="completion-checkbox-sunday"> Completed Workout</label>
                </div>
                <!--        <a href="#" class="card-link">+ Favorites</a>-->
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Tuesday</h5>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="completion-checkbox-tuesday">
                    <label class="form-check-label" for="completion-checkbox-sunday"> Completed Workout</label>
                </div>

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Wednesday</h5>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="completion-checkbox-wednesday">
                    <label class="form-check-label" for="completion-checkbox-sunday"> Completed Workout</label>
                </div>

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Thursday</h5>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="completion-checkbox-thursday">
                    <label class="form-check-label" for="completion-checkbox-sunday"> Completed Workout</label>
                </div>

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Friday</h5>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="completion-checkbox-friday">
                    <label class="form-check-label" for="completion-checkbox-sunday"> Completed Workout</label>
                </div>

            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Saturday</h5>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="completion-checkbox-saturday">
                    <label class="form-check-label" for="completion-checkbox-sunday"> Completed Workout</label>
                </div>
            </div>
        </div>
    </div>

<!--    workout cards-->

    <div class="col-md-8">
        <div class="card" style="width: 36rem;">
            <div class="card-body">

                <h5 class="card-title">Workout:</h5>
<!--                <h6 class="card-subtitle mb-2 text-muted" th:text="${workout.title}"></h6>-->
<!--                <p class="card-text" th:text="${workout.categories}"></p>-->
<!--                <p class="card-text" th:text="${workout.}"></p>-->

            </div>
        </div>
        <!--</div>-->
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">Workout:</h5>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">Workout:</h5>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">Workout:</h5>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">Workout:</h5>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">Workout:</h5>
            </div>
        </div>
        <div class="card" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title">Workout:</h5>
            </div>
        </div>
</div>
</div>
</div>
<div th:insert="partials/messenger-partial.html :: messenger"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/calender.js"></script>
<script src="/js/feed.js"></script>
<script src="/js/modals.js"></script>
<script src="/js/messenger.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>