<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/favorites.css">
    <title>Favorites</title>
</head>
<body>
<h1>Favorites</h1>
<div class="container">
<div class="row" id="favorites">
<div class="border border-primary col-6" id="exercises"><div class="box">test</div></div>
<div class="border border-danger col-6" id="workouts"><div class="box">test</div></div>
</div>
</div>

<!--workout tile template-->
<!--<div class="card" style="width: 18em;">-->
<!--    <div class="card-body">-->
<!--        <div class="card-title-with-dropdown">-->
<!--            <h5 class="card-title">Workout Title</h5>-->
<!--            &lt;!&ndash; drop down goes here&ndash;&gt;-->
<!--            <div class="custom-dropdown">-->
<!--                <button class="btn btn-secondary custom-dropdown-toggle" type="button">-->
<!--                    ...-->
<!--                </button>-->
<!--                <div class="custom-dropdown-content">-->
<!--                    <a class="dropdown-item" href="#">Edit</a>-->
<!--                    <a class="dropdown-item" href="#">Delete</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--        &lt;!&ndash;need to insert workout imagine&ndash;&gt;-->
<!--        <img class="card-img-top" src="..." alt="Card image cap">-->
<!--        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>