<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/favorites.css">
    <title>Favorites</title>
    <link rel="stylesheet" href="/css/modals.css">
    <link rel="stylesheet" href="/css/messenger.css">
    <link rel="stylesheet" href="/css/navbar1.css">
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div th:insert="partials/modals.html :: modals"></div>
<h1 class="text-center">Favorites</h1>
<!--<div class="container">-->
<!--    <div class="row" id="favorites">-->

<!--        <div class="border border-primary col-6" id="exercises"><button class="viewOne">View</button></div>-->

<!--        <div class="border border-danger col-6" id="workouts"><button class="viewTwo">View</button></div>-->

<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="split left">
        <h3>Exercises</h3>
        <a href="#" class="btn" id="btnOne">View</a>
        <div th:each="exercise : ${favoriteExercise}" th:text="${exercise.exercise_name}"></div>
    </div>
<!--ignore this comment-->
    <div class="split right">
        <h3>Workouts</h3>
        <a href="#" class="btn" id="btnTwo">View</a>
        <div th:each="workout : ${favoriteWorkout}" th:text="${workout.title}"></div>
        <div th:text="testing"></div>
    </div>
</div>

<div th:insert="partials/messenger-partial.html :: messenger"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/feed.js"></script>
<script src="/js/modals.js"></script>
<script src="/js/messenger.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>
