<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


    <link rel="stylesheet" href="../../static/css/feed.css">
    <!--    <link rel="stylesheet" href="/css/feed.css">-->
    <!--    <link rel="stylesheet" href="../../static/css/feed.css">-->
    <!--    <link rel="stylesheet" href="/css/feed.css">-->
</head>
<body>

<div class="container row">

    <div class="card side-card col-md-3">
        <img class="side-banner" src="../../static/img/bannerMain.jpeg">
        <img class="side-pic" src="../../static/img/fitnessMyIMG.jpeg">

        <!--    <img class="main-profile-pic" src="/img/fitnessMyIMG.jpeg">-->

        <h3 class="side-name">name here</h3>
        <h5 class="sided-loc">Location</h5>
        <p class="side-friend">Friends (number)</p>
        <p class="side-workout">Workout Preference</p>
        <p class="side-goal">Goals</p>

    </div>


    <div class="col-md-9">
        <div class="card post-card">

            <img class="post-pic" src="../../static/img/fitnessMyIMG.jpeg">
            <!--            <img class="main-profile-pic" src="/img/fitnessMyIMG.jpeg">-->
            <form>
                <input class="post-input" type="text" id="post" placeholder="Post Something Here.">
            </form>
            <div class="image-import-div">
                <p class="img-link">images</p>
            </div>
            <div class="submit-div">
                <buttons class="submit-post" id="post-submission">Post</buttons>
            </div>
        </div>
            <hr>

        <div class="post-loop card">
            <img class="feed-pic" src="../../static/img/giannaimg.png">
            <h4>Users name</h4>
            <img>
            <p>The works the user type for their post will fill into this area making it a post. images is optional.</p>

            <div class="card-body comment-head">
                <img>
                <p>number of likes</p>
                <p>number of comments(link)</p>
            </div>
            <div class="card-body comment-body">
                <img>
                <p>Like</p>
                <img>
                <p>Comment</p>
                <img>
                <p>Share</p>

                <img class="comment-pic" src="../../static/img/giannaimg.png">
                <form>
                    <input class="comment-input" type="text" id="comment" placeholder="Comment here...">
                </form>
                <div class="comment-submit-div">
                    <buttons class="submit-comment" id="comment-submission">Send</buttons>
                </div>
            </div>

        </div>


        <div class="bottom-feed card bottom-card">
            <p>You have reached the end of the feed.</p>
            <a>Back to top?</a>
        </div>
    </div>
</div>


<script src="/js/feed.js"></script>
</body>
</html>