<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Gym Locator</title>
    <!--mapbox css-->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
<!--    <script src="js/mapbox-geocoder-utils.js"></script>-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <!--  css link-->
    <link rel="stylesheet" href="/css/gymmap.css">
    <link rel="stylesheet" href="/css/messenger.css">
    <link rel="stylesheet" href="/css/navbar1.css">
    <link rel="icon" href="/img/favicon-32x32.png" type="image/x-icon">

    <!--    bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav style="background-color: #F0F5F9" class="navbar navbar-default">
    <div class="container-fluid backdrop">
        <div class="navbar-header">
            <img class="logo" src="/img/ourlogo.PNG">
        </div>






        <div>
            <div class="menu">
                <div class="tab-menu" role="group" aria-label="Button group with nested dropdown">
                    <a th:href="@{/home}" id="tab1" class="btn">Home</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{{feedUrl}(feedUrl=${feedUrl})}" id="tab2" class="btn">Feed</a>
                    <a th:href="@{/exercise-page}" id="tab3" class="btn">Exercises</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/workouts-wall}" id="tab4" class="btn">Workouts</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{{calenderUrl}(calenderUrl=${calenderUrl})}" id="tab5" class="btn">Calender</a>
                    <a sec:authorize="isAnonymous()" class=" btn" th:href="@{/login}">Login</a>
                    <a sec:authorize="isAnonymous()" class=" btn" th:href="@{/register}">Register</a>
                </div>

                <div sec:authorize="isAuthenticated()" class="" role="group">

                    <!--            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
                    <img type="button" class="profile-nav-pic btn dropdown-toggle"
                         data-bs-toggle="dropdown"
                         aria-expanded="false" th:src="${userProfile.profilePic}">
                </div>

                <!--                <div sec:authorize="isAnonymous()">-->

                <!--                        &lt;!&ndash; More links here... &ndash;&gt;-->

                <!--                            <button class="btn-link btn" style="margin-top: 8px"><a class="link-no-auth" th:href="@{/login}">Login</a></button>-->


                <!--                            <button class="btn-link btn" style="margin-top: 8px"><a class="link-no-auth" th:href="@{/register}">Register</a></button>-->
                <!--                            <button class="btn-link btn" style="margin-top: 8px; text-decoration: none"><a class="link-no-auth" th:href="@{/login}">Login</a></button>-->


                <!--                            <button class="btn-link btn" style="margin-top: 8px; text-decoration: none"><a class="link-no-auth" th:href="@{/register}">Register</a></button>-->

                <!--                </div>-->
                <!--                <div>-->
                <!--                    <span sec:authorize="Authenticated()">yes</span>-->
                <!--                </div>-->
                <div>
                    <!--            </button>-->
                    <ul class="dropdown-menu drop-nav-menu ">
                        <li><a class="dropdown-item p-drop" th:href="@{{profileUrl}(profileUrl=${profileUrl})}">View Profile</a></li>
                        <li><a class="dropdown-item" th:href="@{{myWorkoutsUrl}(myWorkoutsUrl=${myWorkoutsUrl})}">My
                            Workouts</a></li>
                        <!--                        <li><a class="dropdown-item"-->
                        <!--                               th:href="@{{favoritesUrl}(favoritesUrl=${favoritesUrl})}">Favorites</a></li>-->
                        <!--                        <li><a class="dropdown-item p-drop" href='#' id="modalSettings">Settings</a></li>-->
                        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                            <button class="btn-link btn dropdown-item" style="margin-top: 8px">Logout</button>
                        </form>
                        <!--                        <li><a class="dropdown-item p-drop" href='#' id="modalEdit">Edit Profile</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
  <h1>Gym locations near you!</h1>
  <div id='map' data-location="${location}." style='width: 600px; height: 400px;z-index:5;display:block'></div>
<div th:insert="partials/modals.html :: modals"></div>


<div class="cards-container">
    <div class="cards" id="card1"style="width: 18rem;">
        <img class="card-img-top" src="/img/fitnesspic.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text" id="gymName">This will display the name of the gym.</p>
            <p id="gymAddress">This will display the address of the gym.</p>
        </div>
    </div>

  <div class="cards" id="card2"style="width: 18rem;">
      <img class="card-img-top" src="/img/fitnesspic.png" alt="Card image cap">
      <div class="card-body">
          <p class="card-text" id="gymName2">This will display the name of the gym.</p>
          <p id="gymAddress2">This will display the address of the gym.</p>
      </div>
  </div>
</div>
<!--<div th:insert="partials/messenger-partial.html :: messenger"></div>-->
  <!--    jquery cdn-->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!--&lt;!&ndash;geocoder utils&ndash;&gt;-->
<!--<script src="js/mapbox-geocoder-utils.js"></script>-->
    <!--javascript file-->
<script src="/js/gymmap.js"></script>
<!--mapbox js-->
<script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
<!--<script src="../../static/js/gymmap.js"></script>-->
<script src="/js/gymmap.js"></script>
<script src="/js/feed.js"></script>
<script src="/js/modals.js"></script>
<script src="/js/messenger.js"></script>
<script src="/js/navbar.js"></script>
<!--mapbox js-->

</body>
</html>