<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>






  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


<!--<link rel="stylesheet" href="../../static/css/landingpage1.css">-->
<link rel="stylesheet" type="text/css" href="/css/landingpage1.css">
  <link rel="stylesheet" href="/css/messenger.css">
  <link rel="stylesheet" href="/css/navbar1.css">
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div th:insert="partials/modals.html :: modals"></div>


<div class="container">
  <div class="jumbotron d-flex">

  </div>

  <br>
  <br>
  <h1>FitnessRX</h1>
  <hr>


  <!-- Our Mission (Home) -->
  <h3>Our Mission</h3>
  <img>
  <p>We are FitnessRX, a community dedicated to assisting both seasoned athletes and beginners in achieving their envisioned fitness goals and maintaining a healthy body. Our primary focus is on fostering compassion and understanding among our members. We aim to provide not only effective workout plans that challenge you, but also a supportive family-like atmosphere within this remarkable community. Join us on this journey and embrace the joy of working out while becoming an integral part of our FitnessRX family.</p>



  <div sec:authorize="isAuthenticated()" class="view-div">
      <a type="button" class="start" th:href="@{{profileUrl}(profileUrl=${profileUrl})}">View Profile</a>
  </div>
    <div sec:authorize="isAnonymous()" class="start-div">
      <a th:href="@{/register}"><button class="start">Get Started</button></a>
    </div>
  <br>


  <br>

<!--  &lt;!&ndash;This is my scrolling testimonial wheel&ndash;&gt;-->
<!--  <div class="scroll-bar">-->
<!--    <div class="testimonial-container">-->
<!--      &lt;!&ndash;Testimonial&ndash;&gt;-->
<!--      <div class="card testimonial-cards">-->
<!--        <img>-->
<!--        <p class="test-name">Robert T. James</p>-->
<!--        <p class="test-summary">This site changed my life forever. Thank You FitnessRX!</p>-->
<!--        <p class="test-life">Account since: Aug 13, 2016</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;Testimonial&ndash;&gt;-->
<!--      <div class="card testimonial-cards">-->
<!--        <img>-->
<!--        <p class="test-name">Robert T. James</p>-->
<!--        <p>This site changed my life forever. Thank You FitnessRX!</p>-->

<!--        <p class="test-life">Account since: Aug 13, 2016</p>-->

<!--      </div>-->
<!--      &lt;!&ndash;Testimonial&ndash;&gt;-->
<!--      <div class="card testimonial-cards">-->
<!--        <img>-->
<!--        <p class="test-name">Robert T. James</p>-->
<!--        &lt;!&ndash;Only allow 144 characters for this tab&ndash;&gt;-->
<!--        <p>This site changed my life forever. Thank You FitnessRX!-->
<!--          This site changed my life forever. Thank You FitnessRX!-->
<!--          This site changed my life forever.-->
<!--        </p>-->
<!--        <p class="test-life">Account since: Aug 13, 2016</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <br>
  <hr>
  <br>


  <!-- ABOUT -->
  <h3>About Us</h3>
  <p>We are a group of programmers who created this website as a project that eventually evolved into a passion. We completed our training as full stack developers at Codeup. Our goal is to improve the local community and promote a positive gym culture.</p>
  <br>
  <hr>
  <br>
  <!-- Contact -->
  <h3>Contact Us</h3>
  <div class="contact-div row">


      <div class="top-contacts">
        <div class="card contact-cards">
          <img class="contact-img" src="/img/DSC_0972.jpg">
          <p class="contact-name"><u>Thomas Mescall</u></p>
          <p class="contact-title">Software Developer</p>
          <p class="contact-email">thomas.t.mescall@gmail.com</p>

        </div>
        <div class="card contact-cards">
          <img class="contact-img" src="/img/fitnessMyIMG.jpeg">
          <p class="contact-name"><u>Austin Joiner</u></p>
          <p class="contact-title">Software Developer</p>
          <p class="contact-email">austin.j.joiner1@gmail.com</p>
        </div>
        <div class="card contact-cards">
          <img class="contact-img" src="/img/giannaimg.png">
          <p class="contact-name"><u>Gianna Garces</u></p>
          <p class="contact-title">Software Developer</p>
          <p class="contact-email">gianna.a.garces@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="bottom-contacts">
      <div class="card contact-cards">
        <img class="contact-img" src="/img/david-profile-picture.jpeg">
        <p class="contact-name"><u>David Banker</u></p>
        <p class="contact-title">Software Developer</p>
        <p class="contact-email">davidbanker00@gmail.com</p>
      </div>

      <div class="card contact-cards">
        <img class="contact-img" src="/img/Zakeria.png">
        <p class="contact-name"><u>Zakeria Daniels</u></p>
        <p class="contact-title">Software Developer</p>
        <p class="contact-email">email here</p>
      </div>


  </div>


  <br>
  <hr>
  <br>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/messenger.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/modals.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>