<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>






  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


<!--<link rel="stylesheet" href="../../static/css/landingpage1.css">-->
<link rel="stylesheet" type="text/css" href="/css/landingpage1.css">
  <link rel="stylesheet" href="/css/messenger.css">
  <link rel="stylesheet" href="/css/navbar1.css">
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>

<div th:insert="partials/modals.html :: modals"></div>


<div class="container">
  <div class="jumbotron d-flex">

  </div>

  <br>
  <br>
  <h1>FitnessRX</h1>
  <hr>


  <!-- Our Mission (Home) -->
  <h3>Our Mission</h3>
  <img>
  <p>We Are FitnessRX. We created this community to help fellow athletes and novices alike capture the goal they see
    in their minds and make them reality but also maintain that perfect and healthy body. We strive to aim for
    compassion and understanding for fellow members. Our hope is not only will you love the workout plans and
    getting a burn but also join us in being a family member in this great community.</p>



  <div sec:authorize="isAuthenticated()" class="view-div">
      <a type="button" class="start" th:href="@{{profileUrl}(profileUrl=${profileUrl})}">View Profile</a>
  </div>
    <div sec:authorize="isAnonymous()" class="start-div">
      <a th:href="@{/register}"><button class="start">Get Started</button></a>
    </div>
  <br>


  <br>

  <!--This is my scrolling testimonial wheel-->
  <div class="scroll-bar">
    <div class="testimonial-container">
      <!--Testimonial-->
      <div class="card testimonial-cards">
        <img>
        <p class="test-name">Robert T. James</p>
        <p class="test-summary">This site changed my life forever. Thank You FitnessRX!</p>
        <p class="test-life">Account since: Aug 13, 2016</p>
      </div>
      <!--Testimonial-->
      <div class="card testimonial-cards">
        <img>
        <p class="test-name">Robert T. James</p>
        <p>This site changed my life forever. Thank You FitnessRX!</p>

        <p class="test-life">Account since: Aug 13, 2016</p>

      </div>
      <!--Testimonial-->
      <div class="card testimonial-cards">
        <img>
        <p class="test-name">Robert T. James</p>
        <!--Only allow 144 characters for this tab-->
        <p>This site changed my life forever. Thank You FitnessRX!
          This site changed my life forever. Thank You FitnessRX!
          This site changed my life forever.
        </p>
        <p class="test-life">Account since: Aug 13, 2016</p>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>


  <!-- ABOUT -->
  <h3>About Us</h3>
  <p>We are a team of coders that designed this site at what started as a project turned into a passion. We graduated
    from codeup as full stack developers. Wanting to better the surrounding community a help spread good gym
    culture.</p>
  <br>
  <hr>
  <br>
  <!-- Contact -->
  <h3>Contact Us</h3>
  <div class="contact-div row">

    <div class="">
      <div class="top-contacts">
        <div class="card contact-cards">
          <img class="contact-img" src="">
          <p class="contact-name"><u>Thomas Mescall</u></p>
          <p class="contact-title">Software Developer</p>
          <p class="contact-email">email here</p>
        </div>
        <div class="card contact-cards">
          <img class="contact-img" src="/img/fitnessMyIMG.jpeg">
          <p class="contact-name"><u>Austin Joiner</u></p>
          <p class="contact-title">Software Developer</p>
          <p class="contact-email">austin.j.joiner1@gmail.com</p>
        </div>
        <div class="card contact-cards">
          <img class="contact-img" src="/img/giannaimg.png">
          <p class="contact-name"><u>Gianna Garces</u></p>
          <p class="contact-title">Software Developer</p>
          <p class="contact-email">email here</p>
        </div>
      </div>
    </div>

    <div class="bottom-contacts">
      <div class="card contact-cards">
        <img class="contact-img" src="">
        <p class="contact-name"><u>David Banker</u></p>
        <p class="contact-title">Software Developer</p>
        <p class="contact-email">email here</p>
      </div>

      <div class="card contact-cards">
        <img class="contact-img" src="/img/Zakeria.png">
        <p class="contact-name"><u>Zakeria Daniels</u></p>
        <p class="contact-title">Software Developer</p>
        <p class="contact-email">email here</p>
      </div>
    </div>

  </div>


  <br>
  <hr>
  <br>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/messenger.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/modals.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>