<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>messages</title>
</head>
<body>
<div>
  <h1>Messages</h1>
  <div th:each="recipientMessage : ${messagesToMe}">
    <p th:text="*{recipientMessage.getRecipient().getUsername()}"></p>
    <p th:text="*{recipientMessage.getContent()}"></p>

  </div>
    <div th:each="senderMessage : ${messagesFromMe}">
        <p th:text="*{senderMessage.getRecipient().getUsername()}"></p>
        <p th:text="*{senderMessage.getContent()}"></p>

    </div>
<!--    <div th:each="userMessage : ${userMessages}">-->
<!--        <p th:text="*{userMessage.getSender().getUsername()}"></p>-->
<!--        <p th:text="*{userMessage.getContent()}"></p>-->
<!--    </div>-->
</div>
</body>
</html>