<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Workouts</title>
    <!--    bootstrap styling-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--    external stylesheet-->
    <link rel="stylesheet" href="../../static/css/myworkouts.css">
    <!--    jquery cdn-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>My Workouts</h1>
<!--    button for building workout -->

    <div class="button-container">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
            Build Workout
        </button>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <!--workout card 1-->
                <div class="card" style="width: 18em;">
                    <div class="card-body">
                        <div class="card-title-with-dropdown">
                            <h5 class="card-title">Workout Title</h5>
                            <!-- drop down goes here-->
                            <div class="custom-dropdown">
                                <button class="btn btn-secondary custom-dropdown-toggle" type="button">
                                    ...
                                </button>
                                <div class="custom-dropdown-content">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>

                        </div>
                        <!--need to insert workout imagine-->
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!--workout card 2-->
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-title-with-dropdown">
                            <h5 class="card-title">Workout Title</h5>
                            <!-- drop down goes here-->
                            <div class="custom-dropdown">
                                <button class="btn btn-secondary custom-dropdown-toggle" type="button">
                                    ...
                                </button>
                                <div class="custom-dropdown-content">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>

                        </div>
                        <!--need to insert workout imagine-->
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!--workout card 3-->
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="card-title-with-dropdown">
                            <h5 class="card-title">Workout Title</h5>
                            <!-- drop down goes here-->
                            <div class="custom-dropdown">
                                <button class="btn btn-secondary custom-dropdown-toggle" type="button">
                                    ...
                                </button>
                                <div class="custom-dropdown-content">
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>

                        </div>
                        <!--need to insert workout imagine-->
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
        </div>
    </div>
    <!--    jquery cdn-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!--    javascript file-->
    <script src="../../static/js/myworkouts.js"></script>
</body>
</html>