<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


    <!--    <link rel="stylesheet" href="../../static/css/profile.css">-->
    <link rel="stylesheet" href="/css/profile.css">
    <!--    <link rel="stylesheet" href="../../static/css/messenger.css">-->
    <link rel="stylesheet" href="/css/messenger.css">
    <link rel="stylesheet" href="/css/navbar1.css">
    <link rel="stylesheet" href="/css/modals.css">
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"/>


<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
    Email: <span th:text="${#authentication.principal.email}"/>
    Color: <span th:text="${#authentication.principal.cardColor}"/>
    Profile User ID: <span th:text="${urlUserId}"/>
</div>


<div class="container">

    <div th:insert="partials/modals.html :: modals"></div>
<!---->
<!---->
<!---->
<!--HELP-->
<!---->
<!---->
    <form th:if="${authenticatedUserId.getId() != urlUserId} and ${authenticatedUserId.friendsAsFriendUser}" th:method="post"
          th:action="@{/profile/{id}(id=${urlUserId})}">
        <input id="contactHidden" name="contactHidden" th:value="${urlUserId}" type="hidden">
        <button type="submit">Add Friend</button>
    </form>
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
    <!--    banner card-->
    <div class="card banner-card" th:object="${userProfile}">
        <!--        <img class="main-banner" src="../../static/img/bannerMain.jpeg">-->
        <img class="main-banner" th:src="*{bannerPic}">
    </div>
    <label for="uploadBanner"></label>
    <button type="button" id="uploadBanner" name="uploadBanner">Edit Banner</button>
    <form th:action="@{/profile/uploadBanner}" th:method="POST" id="submitBanner">
        <input id="stashFilestackURLBanner" name="stashFilestackURLBanner" type="hidden" value="">
    </form>

    <div class="card main-card" th:style="'background-color:' + ${cardColor}">
        <img th:if="${authenticatedUserId.getId() == urlUserId}" class="profile-edit" id="modalEdit"
             src="/img/edit.png">
<!--        <img th:if="${authenticatedUserId.getId() != urlUserId}" class="profile-menu" id="modalOption"-->
<!--             src="/img/dropDown.png">-->
        <!--        <div th:if="${authenticatedUserId.getId() == urlUserId}">-->
        <!--            this is your profile.-->
        <!--        </div>-->
        <!--        <div th:if="${authenticatedUserId.getId() != urlUserId}">-->
        <!--            this is NOT your profile.-->
        <!--        </div>-->
<!--        <div th:each="messages : ${message}">-->
<!--            &lt;!&ndash;This is the non-signed in user&ndash;&gt;-->
<!--            <p th:text="*{messages.getRecipient()}"></p>-->
<!--            <p th:text="*{messages.getContent()}"></p>-->
<!--            &lt;!&ndash;This is the signed-in user&ndash;&gt;-->
<!--            <p th:text="*{messages.getSender()}"></p>-->
<!--            <p th:text="*{messages.getContent()}"></p>-->
<!--        </div>-->
        <!--  <h3 th:text="*{username}"></h3>-->
        <!--        <img class="main-profile-pic" src="../../static/img/fitnessMyIMG.jpeg">-->



<!--        -->
<!--        -->
<!--        -->
<!--        -->
<!--        -->
        <div th:object="${userProfile}">
        <img class="main-profile-pic" th:src="*{profilePic}">
        </div>
        <label for="upload"></label>
        <button type="button" id="upload" name="upload">Upload an image</button>
        <form th:action="@{/profile/upload}" th:method="POST" id="submitMePls">
            <input id="stashFilestackURL" name="stashFilestackURL" type="hidden" value="">
        </form>
<!--        -->
<!--        -->
<!--        -->

<!--        -->
<!--        -->
        <div class="addFriend-div">
            <h1 class="main-name" th:text="${username}"></h1>
            <a>
                <img th:if="${authenticatedUserId.getId() != urlUserId}" class="addFriend" id="addFriend"
                     src="/img/addFriend.png">
            </a>
            <a th:href="@{/messages/{recipientId}(recipientId=${urlUserId})}">
                <img th:if="${authenticatedUserId.getId() != urlUserId}" id="message-others" class="message-other"
                     src="/img/comment.png">
            </a>
        </div>

        <a class="main-loc" th:href="@{/map/{location}(location=${location})}" th:text="${location}"></a>
        <a class="main-friend" id="modalFriends" href="#"
           th:text="${userProfile.getFriendsAsMainUser().size()} + ' Friends'"></a>
        <p class="main-workout" th:text="${workoutPreference}"></p>
        <p class="main-bio" th:text="${bio}"></p>
    </div>

    <div class="card goal-card">
        <!--Make a conditional that changes 'My Goal' to the users name + goal if this isn't the owner viewing it-->
        <h4 th:if="${authenticatedUserId.getId() == urlUserId}" class="goal-header">My Goal</h4>
        <h4 th:if="${authenticatedUserId.getId() != urlUserId}" class="goal-header"
            th:text="${username} + 's Goal'"></h4>
        <p class="goal" th:text="${goal}"></p>
    </div>
    <!--Workout card-->
    <div class="card workout-card">
        <!--        Conditional below-->
        <h4 th:if="${authenticatedUserId.getId() == urlUserId}" class="workout-header">My Workouts</h4>
        <h4 th:if="${authenticatedUserId.getId() != urlUserId}" class="workout-header"
            th:text="${username} + 's Workouts'"></h4>


        <a th:href="@{/workout-plan/{id}(id=*{myWorkout.getId()})}" th:each="myWorkout : ${myWorkouts}">
            <h4 th:text="${myWorkout.getTitle()}"></h4>
        </a>


        <a class="view-all" th:href="@{/my-workouts/{id}(id=${urlUserId})}"><u>View All</u></a>
    </div>
    <!--Favorites card-->
    <div class="card favorite-card">
        <!--        Conditional below-->
        <h4 th:if="${authenticatedUserId.getId() == urlUserId}" class="favorite-header">My Favorites</h4>
        <h4 th:if="${authenticatedUserId.getId() != urlUserId}" class="favorite-header"
            th:text="${username} + 's Favorites'"></h4>

        <h4>Workouts</h4>
        <a th:href="@{/workout-plan/{id}(id=*{favoriteWorkout.getId()})}"
           th:each="favoriteWorkout : ${favoriteWorkouts}">
            <div>
                <h4 th:text="${favoriteWorkout.getTitle()}"></h4>
            </div>
        </a>
        <hr>
        <h4>Exercise</h4>
        <!--        <a th:href="@{/exercise-display/{id}(id=*{exercise.getId()})}" th:each="exercise : ${favoriteExercise}">-->
        <a th:href="@{/exercise-display/{id}(id=*{exercise.getId()})}" th:each="exercise : ${favoriteExercise}">
            <div>
                <h3 th:text="${exercise.getExerciseName()}"></h3>
            </div>
        </a>

        <!--        for each here to list user favorite workouts-->
        <a class="view-all" th:href="@{/favorites/{id}(id=${urlUserId})}"><u>View All</u></a>
    </div>

    <!--    -->
    <!--    -->
    <!--    -->
    <!--  remove below later just testing function for meassage system  -->

    <div class="card">
        <!--        <form th:action="@{/messages/send}" th:method="post" th:object="${messages}" th:csrf>-->
        <!--        Message Body:-->
        <!--        <input th:field="*{content}" />-->
        <!--        <br />-->
        <!--        <input type="hidden" th:name="sendmessagetoID" th:value="${userId}" />-->
        <!--        <input type="submit" />-->
        <!--    </form>-->

    </div>
    <!--    -->
    <!--    -->


</div>



<div id="myModalEdit" class="modal modal-dropdown">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Profile</h2>
        <form method="POST" th:action="@{/profile/update}">
            <label>Username: </label>
            <input type="text" name="newUsername" th:value="${username}">

            <label>Email: </label>
            <input type="text" name="newEmail" th:value="${email}">

            <label>Location: </label>
            <input type="text" name="newLocation" th:value="${location}">
            <label>Bio: </label>
            <input type="text" name="newBio" th:value="${bio}">
            <label>Goals: </label>
            <input type="text" name="newGoal" th:value="${goal}">
            <label>Workout Preference: </label>
            <input type="text" name="newWorkoutPreference" th:value="${workoutPreference}">
            <button type="submit">Update</button>
        </form>
        <!--                  API FILESTACK UPLOAD-->



        <p>Profile Image: </p>
        <p>Banner Image: </p>
        <p>Background Color</p>

    </div>
</div>


<div th:insert="partials/messenger-partial.html :: messenger"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var filestackapi = [[${filestackapi}]];
    console.log(filestackapi);
    /*]]>*/

const client = filestack.init(filestackapi);
// client.picker().open();

    $("#upload").click(function () {
        client.picker(options).open()
    });
    const options = {
        onUploadDone:
            function(res) {
                $("#stashFilestackURL").val(res.filesUploaded[0].url);
                document.getElementById("submitMePls").submit();
            }
    }
    // document.getElementById("submitMePls").submit();
    $("#uploadBanner").click(function () {
        client.picker(optionsBanner).open()
    });
    const optionsBanner = {
        onUploadDone:
            function(res) {
                $("#stashFilestackURLBanner").val(res.filesUploaded[0].url);
                document.getElementById("submitBanner").submit();
            }
    }
</script>


<script src="/js/messenger.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/modals.js"></script>

</body>
</html>