<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="INSERT CSS LINK">-->
    <title>Exercise Page</title>
<!--    JQuery-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!--    <script src="../../static/js/exerciseDB.js"></script>-->
<!--    Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<h1>Workout Generator</h1>
<!--<script src="INSERT JS LINK"></script>-->
<h3>Available Body Parts</h3>
<button id="show" type="submit">Show</button>
<div class="availableBodyParts"></div>

<h3>Exercises</h3>
<button id="showTwo" type="submit">Show</button>


<label for="exercises"></label>
<select id="exercises" class="exercises"></select>

<div class="gifOne"></div>



<h3>Exercise By Body Parts</h3>
<div>
    <label for="userInputOne">Enter Body Part</label>
    <input id="userInputOne" type="text">
    <button id="submitBtn" type="submit">Submit</button>
</div>
<label for="exerciseByBodyParts"></label>
<select id="exerciseByBodyParts" class="exerciseByBodyParts"></select>

<h3>Exercises By Name</h3>
<div>
    <label for="userInputTwo">Enter Exercise</label>
    <input id="userInputTwo" type="text">
    <button id="submitBtnTwo" type="submit">Submit</button>
</div>
<label for="exerciseByName"></label>
<select id="exerciseByName" class="exerciseByName"></select>

<h3>Exercise By Target Muscle</h3>
<div>
    <label for="userInputThree">Enter Targeted Muscle</label>
    <input id="userInputThree" type="text">
    <button id="submitBtnThree" type="submit">Submit</button>
</div>
<label for="targetByName"></label>
<select id="targetByName" class="targetByName"></select>

<h3>Exercise By Equipment</h3>
<div>
    <label for="userInputFour">Enter Equipment</label>
    <input id="userInputFour" type="text">
    <button id="submitBtnFour" type="submit">Submit</button>
</div>
<label for="equipmentByName"></label>
<select id="equipmentByName" class="equipmentByName"></select>



<h3>Loading Exercises</h3>
<button id="load">load</button>
<form th:action="@{/test}" method="post" th:object="${exercise}">


    <label for="ex_name"></label>
    <select id="ex_name">name
    <option id="name" th:value="*{exercise_name}"></option>
    </select>

    <label for="ex_bodyPart"></label>
    <select id="ex_bodyPart">body part
        <option id="bodyPart" th:value="*{exercise_bodyPart}"></option>
    </select>

    <label for="ex_equipment"></label>
    <select id="ex_equipment">equipment
        <option id="equipment" th:value="*{exercise_equipment}"></option>
    </select>

    <label for="ex_target"></label>
    <select id="ex_target">target
        <option id="target" th:value="*{exercise_target}"></option>
    </select>

    <label for="ex_id"></label>
    <select id="ex_id">id
        <option id="id" th:value="*{exercise_id}"></option>
    </select>

    <input value="deploy" type="submit" />
</form>
<!--<script src="/js/exerciseDB.js"></script>-->
<script>

    //Fetch all exercises
    //Lists out all of the exercises for each muscle group
    $(document).ready(function () {
        $('#load').click((e) => {
            e.preventDefault()
            $.ajax({
                async: true,
                crossDomain: true,
                url: 'https://exercisedb.p.rapidapi.com/exercises',
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': '3b5ab618f4msh9fcd7bdc598e72ap123ca5jsn756b704ae812',
                    'X-RapidAPI-Host': 'exercisedb.p.rapidapi.com'
                }
            }).done(function (data) {
                console.log(data);


                // let bodyPartsList = "";
                // let equipmentsList = "";
                // let namesList = "";
                // let targetsList = "";
                // let idsList = "";

                let bodyPart = ""
                let equipment =""
                let id = ""
                let name = ""
                let target = ""

                let i;
                for (i = 0; i < data.length; i++) {
                    console.log(data);
                    bodyPart += data[i].bodyPart;
                    equipment += data[i].equipment;
                    // let gifUrl = data[i].gifUrl;
                    id += data[i].id;
                    name += data[i].name;
                    target += data[i].target;
                    console.log(bodyPart);
                    // bodyPartsList += '<option id="bodyPart" value="'+ bodyPart + '">' + bodyPart + '</option>'
                    // console.log(bodyPartsList);
                    // equipmentsList +='<option id="equipment" value="'+ equipment + '">' + equipment + '</option>'
                    //     namesList += '<option id="name" value="'+ name + '">' + name + '</option>'
                    //     targetsList += '<option id="target" value="'+ target + '">' + target + '</option>'
                    //     idsList += '<option id="id" value="'+ id + '">' + id + '</option>'

                }
                $('#bodyPart').val(bodyPart);
                $('#equipment').val(equipment);
                $('#name').val(name);
                $('#target').val(target);
                $('#id').val(id);
                })
            })
        })
</script>

</body>
</html>
