<html xmlns:th="http://www.thymeleaf.org">
<div th: fragment="search">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <nav>
  <label>
    <input id="userSearchInput" type="text"  placeholder="Search for exercise...">
    <button id="searchByName" type="submit">Search</button>
  </label>
    <span><button id="back" class="workoutNameBtn" value="back" type="submit">Back</button></span>
    <span><button id="cardio" class="workoutNameBtn" value="cardio" type="submit">Cardio</button></span>
    <span><button id="chest" class="workoutNameBtn" value="chest" type="submit">Chest</button></span>
    <span><button id="lowerarms" class="workoutNameBtn" value="lower arms" type="submit">Lower Arms</button></span>
    <span><button id="lowerlegs" class="workoutNameBtn" value="lower legs" type="submit">Lower Legs</button></span>
    <span><button id="neck" class="workoutNameBtn" value="neck" type="submit">Neck</button></span>
    <span><button id="shoulders" class="workoutNameBtn" value="shoulders" type="submit">Shoulders</button></span>
    <span><button id="upperlegs" class="workoutNameBtn" value="upper legs" type="submit">Upper Legs</button></span>
    <span><button id="upperarms" class="workoutNameBtn" value="upper arms" type="submit">Upper Arms</button></span>
    <span><button id="waist" class="workoutNameBtn" value="waist" type="submit">Waist</button></span>

    <label for="filter-select">Select Target</label>
    <select id="filter-select">
      <optgroup label="Upper Body"></optgroup>
        <option class="targetMuscle" value="biceps">biceps</option>
        <option class="targetMuscle" value="delts">delts</option>
        <option class="targetMuscle" value="forearms">forearms</option>
        <option class="targetMuscle" value="upperback">upperback</option>
        <option class="targetMuscle" value="lats">lats</option>
        <option class="targetMuscle" value="neck">neck</option>
        <option class="targetMuscle" value="pectorals">pectorals</option>
        <option class="targetMuscle" value="spine">spine</option>
        <option class="targetMuscle" value="traps">traps</option>
        <option class="targetMuscle" value="triceps">triceps</option>
      <optgroup label="Lower Body"></optgroup>
        <option class="targetMuscle" value="calves">calves</option>
        <option class="targetMuscle" value="glutes">glutes</option>
        <option class="targetMuscle" value="hamstrings">hamstrings</option>
        <option class="targetMuscle" value="quads">quads</option>
      <optgroup label="Core"></optgroup>
        <option class="targetMuscle" value="abductors">abductors</option>
        <option class="targetMuscle" value="adductors">adductors</option>
        <option class="targetMuscle" value="obliques">obliques</option>
    </select>
  </nav>

</div>
