<!--messenger partial-->
<div th:fragment="messenger">
<div id="bottomBar">
  <div id="content">
    <!-- Content to be initially displayed -->
    <!--        <img class="message-img img1" src="../../static/img/fitnessMyIMG.jpeg">-->
    <img class="message-img img1" src="/img/fitnessMyIMG.jpeg">
    <p class="messages">Messages</p>
  </div>
  <div id="hiddenContent">
    <!-- Additional content to be revealed -->
    <!--        <img class="message-img img2" src="../../static/img/fitnessMyIMG.jpeg">-->
    <img class="message-img img2" src="/img/fitnessMyIMG.jpeg">
    <p class="messages open-message">Messages</p>
    <div class="message-wall">
      <!--            <img class="sec-message-img" src="../../static/img/fitnessMyIMG.jpeg">-->
      <img class="sec-message-img" src="/img/fitnessMyIMG.jpeg">
      <p>Name</p>
      <p>date/sent/recieved</p>
    </div>
    <div class="message-wall">
      <!--            <img class="sec-message-img" src="../../static/img/fitnessMyIMG.jpeg">-->
      <img class="sec-message-img" src="/img/fitnessMyIMG.jpeg">
      <p>Name</p>
      <p>date/sent/recieved</p>
    </div>
    <div class="message-wall">
      <!--            <img class="sec-message-img" src="../../static/img/fitnessMyIMG.jpeg">-->
      <img class="sec-message-img" src="/img/fitnessMyIMG.jpeg">
      <p>Name</p>
      <p>date/sent/recieved</p>
    </div>
    <div class="message-wall">
      <!--            <img class="sec-message-img" src="../../static/img/fitnessMyIMG.jpeg">-->
      <img class="sec-message-img" src="/img/fitnessMyIMG.jpeg">
      <p>Name</p>
      <p>date/sent/recieved</p>
    </div>
    <div class="message-wall">
      <!--            <img class="sec-message-img" src="../../static/img/fitnessMyIMG.jpeg">-->
      <img class="sec-message-img" src="/img/fitnessMyIMG.jpeg">
      <p>Name</p>
      <p>date/sent/recieved</p>
    </div>
    <div class="message-bottom">
      <button class="new_convo">New Conversation</button>
    </div>
  </div>
</div>
</div>
<!--<script src="../../static/js/messenger.js"></script>-->
