<div th:fragment="modals">

  <div id="myModalEdit" class="modal modal-dropdown">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Edit Profile</h2>
      <p>UserName: </p>
      <p>Profile Image: </p>
      <p>Banner Image: </p>
      <p>Location: </p>
      <p>Bio: </p>
      <p>Goals: </p>
      <p>Background Color</p>
    </div>
  </div>
  <div id="myModalSettings" class="modal modal-dropdown">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Settings</h2>
      <p>privacy: </p>
      <p>change password: </p>
      <p>change email: </p>
      <p>theme: </p>
    </div>
  </div>
</div>