<div th:fragment="modals">


    <div id="myModalSettings" class="modal modal-dropdown">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Settings</h2>
            <form method="POST" th:action="@{/profile/settings}">
                <label>Theme Color: </label>
                <select type="text" name="newCardColor">
                    <option>green</option>
                    <option>blue</option>
                    <option>orange</option>
                    <option>red</option>
                </select>
                <button type="submit">Update</button>
            </form>
            <p>privacy: </p>
            <p>change password: </p>
            <p>change email: </p>
            <p>theme: </p>
            <form method="POST" th:action="@{/profile/delete}">
                <button type="button">DELETE</button>
            </form>
        </div>
    </div>
    <div id="myModalFriends" class="modal modal-friend">
        <div class="modal-content row">
            <span class="close">&times;</span>
            <h2>Friends List</h2>
            <a th:href="@{/profile/{id}(id=*{friend.getUserFriend().getId()})}" th:each="friend : ${userFriends}"
               class="card friendList">
                <div>
                    <img class="friend-img" src="/img/fitnessMyIMG.jpeg">
                </div>
                <div class="card-body">
                    <p th:text="${friend.getUserFriend().getUsername()}"></p>
                </div>
            </a>
        </div>
    </div>


    <div id="myModalMessage" class="modal modal-message">
        <div class="modal-content row">
            <span class="close">&times;</span>
            <h2>Message Display</h2>
            <div th:each="friend : ${userFriends}" class="card col-4">
                <div>
                    <img class="friend-img" src="/img/fitnessMyIMG.jpeg">
                </div>
                <div class="card-body">
                    <p th:text="${friend.userFriend.username}"></p>
                </div>
            </div>
        </div>
    </div>








    <div id="ModalMessage" class="modal message-display">
        <div class="modal-content row">
            <span class="close">&times;</span>
            <h2>Message Display</h2>
            <div>
                <div th:each="messages : ${message}">
                    <!--This is the non-signed in user-->
                    <p th:text="*{messages.getRecipient()}"></p>
                    <p th:text="*{messages.getContent()}"></p>
                    <!--This is the signed-in user-->
                    <p th:text="*{messages.getSender()}"></p>
                    <p th:text="*{messages.getContent()}"></p>
                </div>
            </div>
        </div>
    </div>

</div>