<nav th:fragment="navbar" class="navbar navbar-default">
    <div class="container-fluid backdrop">
        <div class="navbar-header">
            <img src="" alt="Logo">
        </div>

        <div>
            <div class="menu">
            <div class="tab-menu" role="group" aria-label="Button group with nested dropdown">
                <a href="@{/home}" id="tab1" class="btn">Home</a>
                <a href="@{/feed/{id}}" id="tab2" class="btn">Feed</a>
                <a href="@{/exercises}" id="tab3" class="btn">Exercises</a>
                <a href="@{/workouts-wall}" id="tab4" class="btn">Workouts</a>
                <a th:href="@{/calendar/{id}}" id="tab5" class="btn">Calendar</a>
            </div>

                <div class="" role="group">
                    <!--            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
                    <img type="button" class="profile-nav-pic btn dropdown-toggle"
                         data-bs-toggle="dropdown"
                         aria-expanded="false" src="/img/fitnessMyIMG.jpeg">
                </div>
                <!--            </button>-->
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                    <li><a class="dropdown-item" th:href="@{/my-workouts/{id}}">My Workouts</a></li>
                    <li><a class="dropdown-item" th:href="@{/favorites/{id}}">Favorites</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>


