<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="INSERT CSS LINK">-->
    <title>workout generator</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

</head>
<body>
<h1>Project Starter Kit</h1>
<!--<form>-->

    <article>

        <h6>Need Some Help?</h6>
        <button class="helpBtn" type="button">Yes</button>
        <div class="generate-workout"></div>
    </article>

<!--</form>-->









<script src="../../static/js/workout-generator.js"></script>
</body>
</html>