body {
    background-color: #C9D6DF;
}

.card-body-workout{
    background-color: #F0F5F9;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 125px;
}

.card-body-sunday{

    background-color: #7ae582;
    border-radius: 20px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
    height: 125px;
}
.card-body-monday{
    background-color: #48cae4;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 125px;
}
.card-body-tuesday{
    background-color: #ffd000;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 125px;
}
.card-body-wednesday{
    background-color: #ff9500;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 125px;
}
.card-body-thursday{
    background-color: #ef233c;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 125px;
}
.card-body-friday{
    background-color: #b333e9;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 125px;
}
.card-body-saturday{
    background-color: #ff47da;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 125px;
}

.card-title {
    margin-top: 5px;
    margin-left: 10px;
}



.card-title-days {
    color: white;
    margin-top: 5px;
    margin-left: 10px;
}


.form-check {
    float: right;
    clear: both;
    margin-left: 10px;
    margin-top: 35px;
}

.card .form-control {
    width: 100%;
    box-sizing: border-box;
}

.col-md-4 {
    width: 33.33%;
    padding-right: 0;
    margin-top: 1em;
    margin-left: 1em;
}

.col-md-8 {
    width: 33.33%;
    margin-top: 1em;
}

.form-check-label{
    color: white;
    margin-top: 25px;
    margin-right: 5px;
}

#completion-checkbox-sunday, #completion-checkbox-monday, #completion-checkbox-tuesday, #completion-checkbox-wednesday, #completion-checkbox-thursday, #completion-checkbox-friday, #completion-checkbox-saturday {
    background-color: #C9D6DF;
    margin-top: 30px;
}



