body {
    background-image: linear-gradient(#1E2022, #F0F5F9);
}

.workoutNameBtn {
    color: #ffffff;
    background-color: #52616B;
}

#searchByName {
    color: #ffffff;
    background-color: #52616B;
}

button {
    color: #ffffff;
    background-color: #52616B;
}