body {
    background-color: white;
}

#editMessageTemp {
    box-shadow: black;
    margin: auto;
    height: 120px;
    width: 300px;
    background-color: #F0F5F9;
}

button {
    color: #ffffff;
    background-color: #52616B;
}

input {
    margin-left: 17%;
}

h3 {
    margin-left: 35%;
    margin-top: 40%;
}

h1 {
    margin: auto;
}

.fa-solid {
    margin-left: 25%;
    margin-top: 29%;
}