body {
    background-color: #C9D6DF;
}
.container-box{
    margin-left: 7em;
    margin-right: 7em;
}
.post-card {
    background-color: #F0F5F9;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-left: 4px;
    padding-right: 20px;
    margin-top: 2em;
}

.side-card {
    background-color: #F0F5F9;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 2em;
    margin-bottom: 10%;
}

.side-banner {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
}

.side-name {
    margin-left: 35%;
    margin-top: 3%;
}

.side-pic{
    border-radius: 50%;
    height: 105px;
    width: 105px;
    border: white 2px solid;
    position: inherit;
    bottom: 30px;
    margin-top: 8%;
    margin-left: 20%;
}
.post-pic{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: white 2px solid;
    display: inline-block;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
}
.post-input {
    border-radius: 2em;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 4px;
}
.submit-post {
    background-color: #F0F5F9;
    color: black;
    width: 60px;
    border-radius: 40px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 4px;
}
.submit-div {
    display: flex;
    justify-content: end;
    margin-bottom: 4px;
    float: right;
}
.img-link {
    position: relative;
}
.image-import-div {
    display: flex;
    align-content: end;
}
.bottom-card {
    margin-top: 5%;
    background-color: #F0F5F9;
    width: 52%;
    margin-left: 25%;
}

.bottom-card>a {
    margin-left: 35%;
}

.feed-pic{
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
}
.post-loop {
    background-color: #F0F5F9;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
}
.comment-head {
    background-color: #c9c6c6;
    border-bottom: black solid 2px;
    display: flex;
    justify-content: space-between;


}
.comment-body{
    background-color: #c9c6c6;

    display: flex;
    justify-content: space-around;

}
.comment-pic{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 6px;
}
.input-div {
    display: flex;
    background-color: #c9c6c6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown-comments {
    display: none;
    position: absolute;
    top: 26em;
    background-color: #F0F5F9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-toggle {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-toggle {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.custom-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#reportBtn {
    height: 4px;
    width: 32px;
    float: right;

}

.card-body {
    background-color: #F0F5F9;
}

div.input-div {
    background-color: #F0F5F9;
}

p {
    margin: 0 8px;
    background-color: #F0F5F9;
    border: black;
}

.custom-dropdown-content p {
    margin-left: 8px;
}

a {
    text-decoration: none;
    color: black;
    box-shadow: black;
}

a:hover {
    text-shadow: #F0F5F9;
}

button {
    color: #ffffff;
    background-color: #52616B;
}

#nameHeader {
    margin-left: 8px;
    margin-top: 2px;
}

#commentBtn {
    background-color: #F0F5F9;
}

#optionsUnderPost {
    padding-top: 8px;
    padding-bottom: 4px;
}

#comment {
    margin-left: 12px;
    margin-bottom: 4px;
}

ul {
    list-style-type: none;
    padding-left: 15%;
}

li>i {
    padding-right: 5%;
}

#bottomAnchor {
    text-align: center;
}

.feedPostText {

}
