body {
    background-color: #C9D6DF;
}

.jumbotron {
    background-image: url('../img/banner.png');
    height: 350px;
    background-position: center;
    background-size: cover;
    margin-top: 2em;
}

h1 {
    text-align: center;
    font-size: 80px;
}
.view-div{
    display: flex;
    justify-content: center;
}
.start-div {
    display: flex;
    justify-content: center;
}
.start {
    background-color: #52616B;
    border-radius: 10px;
    height: 3em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    padding: 4px;
}
.scroll-bar {
    overflow: hidden;
    background-color: #654846;
    position: relative;
}
.testimonial-container {
    position: relative;
    left: 62em;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    animation: testimonial-scroll 15s infinite linear;
}
@keyframes testimonial-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-210%);
    }
}
.testimonial-cards {
    background-color: #8a8acb;
    height: 200px;
    width: 250px;

}
.test-name {
    text-align: end;
}
.test-summary {

}

.test-life {
    text-align: end;
    /*position: relative;*/
    /*bottom: 0;*/
    margin-top: auto;
    margin-bottom: 0;
}
.contact-div {
    display: flex;
    justify-content: space-between;
}
.top-contacts {
    display: flex;
    justify-content: space-between;
}
.bottom-contacts {
    display: flex;
    justify-content: space-around;
}
.contact-cards {
    height: 300px;
    width: 210px;
    margin-bottom: 20px;
}
.contact-img {
    border-radius: 50%;
    height: 200px;
    width: 100%;
}
.contact-name {
    font-size: 20px;
    font-weight: bold;
}
.contact-title {
    margin-bottom: 0;
}
.contact-email {
    margin-top: 0;
}