#email {
    padding-right: 2.8%;

}
#password {
    padding-right: 0.7%;
}

#location {
    padding-right: 1.1%;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
}

.accountCreation {

    color: black;
    background-color: #F0F5F9;
    margin: 5% 10% 0 10%;
    opacity: 75%;
    width: 60%;
    border-radius: 2%;
}

label input {
    margin-left: 3%;
}

.inputs {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}
